.section {
  display: flex;
  flex-direction: column;

  .list {
    margin-bottom: 20px;
    position: relative !important;

    .linkIcon {
      position: absolute;
      top: 2px;
      right: 2px;
    }

    ul {
      margin-top: 0;
      gap: 4px !important;
      border: none;
      padding-left: 2px;
    }
  }
}
