@import '../../styles/mixins';

.panel {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 428px;
  height: 500px;
  background: $grey-50;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 2;
  overflow-y: auto;
  box-sizing: border-box;
  user-select: none;
  @include custom-scrollbar;
}
