@import '../../../styles/mixins';

.content {
  // background: red;

  .contentHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    .title {
      font-size: 18px;
      font-weight: 500;

      color: #344054;
    }

    .reset {
      @include button-reset;
      padding: 4px 10px;
    }
  }
}
