@import '../../../styles/variables';

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  h3 {
    margin-bottom: 0;
  }

  .reset {
    font-size: 14px;
    background: none;
    color: $grey-500;
    transition: all ease 0.3s;
    border: none;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $grey-900;
    }
  }
}

ul.list {
  display: flex;
  gap: 12px;

  li {
    flex: 1;
    margin-bottom: 0;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none !important;

      .icon {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #cfcece;
        border-radius: 8px;
        margin-bottom: 8px;
        transition: all ease 0.3s;
        background: #f8f9fa;
        color: $grey-500;
        font-size: 20px;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        line-height: 16px;
        text-align: center;
        font-size: 13px;
        font-weight: 500;
        color: $grey-600;
        transition: color ease 0.3s;
      }

      &:hover {
        .icon {
          box-shadow: $grey-600 0px 2px 7px;
          background: #f0f0f0;
        }
      }
    }

    &.active {
      .icon {
        box-shadow: #3b82f6 0px 2px 7px;
        background: #eff6ff;
        color: #3b82f6;
        border-color: #3b82f6;
      }

      span {
        color: $grey-900;
      }
    }
  }
}
