@import '../../../styles/variables';

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;

  h3 {
    margin-bottom: 0;
  }

  .reset {
    font-size: 14px;
    background: none;
    color: $grey-500;
    transition: all ease 0.3s;
    border: none;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: $grey-900;
    }
  }
}

ul.list {
  display: flex;

  li {
    margin-bottom: 10px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none !important;

      img {
        width: 80%;
        border: 1px solid #cfcece;
        border-radius: 6px;
        margin-bottom: 7px;
        transition: box-shadow ease 0.3s;
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;
        line-height: 16px;
        text-align: center;
        font-size: 14.5px;
        font-weight: 400;
        color: $grey-600;
        transition: color ease 0.3s;
      }

      &:hover {
        img {
          box-shadow: $grey-600 0px 2px 7px;
        }
      }
    }

    &.active {
      img {
        box-shadow: #3b82f6 0px 2px 7px;
      }

      span {
        color: $grey-900;
      }
    }
  }
}
