.card {
  max-height: 100px;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
  cursor: pointer;

  .link {
    margin-left: auto;
  }

  .arrow {
    margin-left: 10px;
    transition: transform 0.4s ease-in-out;
    transform: rotate(180deg);

    &.open {
      transform: rotate(0deg);
    }
  }

  h4 {
    transition: margin-bottom 0.4s ease-in-out;
    margin-bottom: 20px;
  }
}

.open {
  max-height: 1200px;

  h4 {
    margin-bottom: 0px;
  }
}
