@import '../../../../styles/variables';

.links {
  display: flex;
  gap: 10px;
  margin-top: 12px;

  .link {
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid $grey-300;
    border-radius: 8px;
    padding: 5px 10px;
    gap: 5px;
    display: flex;
    text-decoration: none;
    color: $grey-600;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.5px;
    transition: color 0.2s ease, border-color 0.2s ease, transform 0.2s ease;
    cursor: pointer;

    &:hover {
      color: $blue-600;
      border-color: #006cd560;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
