@import '../../styles/mixins';
@import '../../styles/variables';

.filtersButton {
  @include button-mapbox;
  position: absolute;
  top: 49px;
  left: 10px;
  height: 29px;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 18px;
}

.filtersWrapper {
  position: absolute;
  top: 49px;
  left: 10px;
  width: 320px;
  height: 500px;

  .filtersPopup {
    position: relative;
    height: 100%;
    background: $white;
    border-radius: 4px;
    background: #f9fafb;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
    padding: 16px;
    z-index: 0;
    overflow-y: auto;
    z-index: 2;

    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 6px;
      margin-bottom: 16px;

      svg {
        padding: 1px;
        width: 24px;
        height: 24px;

        path {
          fill: $grey-600;
        }

        &.closeBtn {
          cursor: pointer;
        }
      }

      h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 30px;
        color: $grey-700;
        margin-right: auto;
      }
    }
  }
}
