@import '../../styles/variables';

.error {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .closeIcon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background-color: #f2f2f2;
    }
  }

  .errorIcon {
    width: 60px;
    height: 60px;
    margin-bottom: 8px;

    path {
      fill: #475467;
    }
  }

  p {
    font-size: 16px;
    text-align: center;
    max-width: 260px;
    color: #475467;
  }
}
