.inputs {
  display: flex;

  .inputWrapper {
    position: relative;

    &:hover {
      .inputIcon {
        path {
          fill: #999999;
        }
      }
    }

    &:focus-within svg path {
      fill: #333333c6 !important;
    }

    .inputIcon {
      padding: 10px;
      width: 18px;
      height: 18px;
      cursor: pointer;

      path {
        fill: #cccccc;
        transition: ease 0.15s all;
      }
    }

    input {
      width: 100%;
      padding: 10px;
      padding-left: 35px !important;
    }
  }

  .calendarStart,
  .calendarEnd {
    border-radius: 6px;
    border: 1px solid #d8d6de;
    z-index: 2;
  }

  .calendarStart {
    left: 30%;
  }

  .calendarEnd {
    right: 30%;
  }
}
