.ownersList {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #d1d5db;
  box-sizing: border-box;

  .ownerItem {
    padding: 8px 12px;
    border-bottom: 1px solid #d1d5db;

    &:last-child {
      border-bottom: none;
    }

    .name {
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 1px;
    }

    span {
      color: #6b7280;
      font-size: 14px;
      font-weight: 400;
    }
  }
}
