@import 'variables';

@mixin button-mapbox {
  padding: 4px 16px;
  font-size: 15px;
  border-radius: 4px;
  background-color: white;
  color: black;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.15s ease-in;

  &:hover {
    background-color: #f2f2f2;
  }
}

@mixin button-primary {
  @include button-mapbox;
  background: $blue-600;
  color: $white;
  font-size: 14px;
  padding: 7px 12px;
  margin-left: 0px;
  box-shadow: none;

  &:hover {
    background: lighten($blue-600, 5%);
  }

  &:active {
    background: lighten($blue-600, 10%);
  }
}

@mixin input-primary {
  padding: 12px;
  border-radius: 8px;
  font-size: 14px;
  transition: box-shadow 0.2s;
  border: none;
  outline: none;
  box-shadow: 4px 8px 20px 0px rgba(31, 25, 46, 0.0509803922);

  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
}

@mixin section-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 30.6px;
  margin-bottom: 6px;
  color: $grey-700;
}

@mixin custom-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.5);
  }
}

@mixin divider {
  display: block;
  height: 1px;
  width: 100%;
  background: #dddddd;
  margin: 14px 0;
}
