@import "variables";

@mixin button-mapbox {
  padding: 4px 16px;
  font-size: 15px;
  border-radius: 4px;
  background-color: white;
  color: black;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  outline: none;
}

@mixin button-primary {
  @include button-mapbox;
  background: $blue-600;
  color: $white;
  font-size: 14px;
  padding: 7px 16px;
  margin-left: 0px;
  box-shadow: none;

  &:hover {
    background: lighten($blue-600, 5%);
  }

  &:active {
    background: lighten($blue-600, 10%);
  }
}

@mixin button-for-icon {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  transition: background-color 0.2s ease;
}

@mixin input-primary {
  border: 1px solid #d1d5db;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 14px;
  transition: box-shadow 0.2s;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }
}

@mixin section-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 30.6px;
  margin-bottom: 6px;
  color: $grey-700;
}

@mixin block-item {
  border-radius: 4px;
  padding: 16px;
  background: white;
  box-shadow: 4px 8px 20px 0px rgba(31, 25, 46, 0.0509803922);
}

@mixin list-item {
  font-size: 13px;
  font-weight: 400;
  line-height: 19.5px;
  text-align: left;
  border-left: 2px solid $blue-600;
  padding-left: 10px;

  span {
    font-weight: 600;
    color: $grey-700;
  }
}

@mixin divider {
  display: block;
  height: 1px;
  width: 100%;
  background: #dddddd;
  margin: 14px 0;
}
