$primary-btn-padding: 4px 16px;
$primary-btn-font-size: 15px;
$primary-btn-border-radius: 4px;
$primary-btn-bg-color: white;
$primary-btn-text-color: black;
$primary-btn-hover-bg-color: #f2f2f2;
$primary-btn-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
