$blue-600: #006cd5;
$grey-50: #f9fafb;
$grey-100: #f3f4f6;
$grey-200: #e5e7eb;
$grey-300: #d1d5db;
$grey-400: #9ca3af;
$grey-500: #6b7280;
$grey-600: #475467;
$grey-700: #344054;
$grey-800: #1d2939;
$grey-900: #101828;
$white: white;
$black: black;
$red: #f03e3e;
$green: #2dd07a;
