@import "./variables";

.mapboxgl-map {
  min-width: 100vw;
  min-height: 100vh;
  position: relative;
}

.mapboxgl-popup-content {
  padding: 2.5px 10px;
}

.mapboxgl-ctrl-geocoder {
  display: none;
  top: 60px;
  right: -15px;
  width: 310px;
  transition: box-shadow 0.2s;
  box-shadow: 4px 8px 20px 0px rgba(31, 25, 46, 0.0509803922);

  svg path {
    fill: $grey-600;
  }

  &:focus-within {
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  }

  .mapboxgl-ctrl-geocoder--input:focus {
    outline: none;
  }
}

.react-datepicker {
  // input
  &-wrapper {
    min-width: 139px;
    max-width: 139px;

    input {
      font-weight: 500;
      font-size: 14px;
      color: $grey-600;
    }

    &:first-child {
      margin-right: auto;
    }
  }

  // calendar
  &__month-container {
    box-shadow: 4px 8px 20px 0px rgba(31, 25, 46, 0.0909803922);
  }

  &__header {
    background: $grey-100;
    border-bottom: 1px solid $grey-200;
  }

  &__current-month {
    color: $grey-700;
  }

  &__day-names {
    margin-top: 5px;

    div {
      font-weight: 500;
      color: $grey-600;
    }
  }

  &__day {
    color: $grey-700;
    font-size: 14px;

    &--today {
      color: $blue-600;
      border: 1px solid $blue-600;
      background: $white;
      border-radius: 4px;

      &:hover {
        color: $white;
        background-color: lighten($blue-600, 5%);
      }
    }

    &--selected {
      font-weight: 600;
      background: $blue-600 !important;
      color: $white !important;

      &:hover {
        background-color: lighten($blue-600, 10%);
      }
    }

    &--in-range,
    &--in-selecting-range {
      color: $white !important;
      font-weight: 600;
      background-color: $blue-600 !important;
    }
  }
}

// range slider
.range-slider {
  border: 1px solid #d8d6de;
  background: white !important;

  input {
    display: none;
  }

  &__range {
    background: $blue-600 !important;
    cursor: grab;

    &:hover {
      background: lighten($blue-600, 5%) !important;
    }

    &:active {
      background: lighten($blue-600, 10%) !important;
      cursor: grabbing;
    }
  }

  &__thumb {
    width: 15px !important;
    height: 15px !important;
    background: $blue-600 !important;
    cursor: grab;

    &:hover {
      background: lighten($blue-600, 5%) !important;
    }

    &:active {
      background: lighten($blue-600, 10%) !important;
      cursor: grabbing;
    }
  }
}
