@import '../../../../styles/mixins.scss';

.wrapper {
  position: absolute;
  top: 50px;
  right: 50px;

  .switcher {
    position: relative;
    @include button-mapbox;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0px 10px;
    height: 29px;

    .text {
      font-size: 16px;
      font-weight: 500;
      color: #000;
      margin-right: 3px;
    }

    .switch {
      display: flex;
      align-items: center;
      gap: 5px;

      .hide,
      .show {
        height: 100%;
        font-size: 11px;
        font-weight: 600;
        color: #71717a;
      }
    }
  }
}
