@import "../../../styles/variables";
@import "../../../styles/mixins";

.tab {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .transactionItem {
    position: relative;
    padding: 16px;
    box-shadow: 4px 8px 20px 0px #1f192e0d;
    border-radius: 8px;
    background: $white;

    .date {
      position: absolute;
      top: 16px;
      right: 16px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: $grey-600;
    }

    .price {
      font-size: 18px;
      font-weight: 600;
      line-height: 27px;
      color: $grey-700;
      margin-bottom: 8px;
    }

    .type {
      font-size: 13px;
      font-weight: 400;
      line-height: 19.5px;
      text-align: left;
      border-left: 2px solid $blue-600;
      padding-left: 10px;

      span {
        font-weight: 600;
      }
    }
  }
}
