@import '../../../styles/mixins';

.section {
  position: relative;
  margin-bottom: 24px;

  .loader-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 10000;
  }

  h3 {
    @include section-title;
  }

  form {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;

    label {
      width: 100%;
      cursor: pointer;

      input {
        @include input-primary;
        width: 100%;
        padding: 16px 80px 16px 16px;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        box-shadow: 4px 8px 20px 0px #1f192e0d;
      }
    }

    button {
      @include button-primary;
      position: absolute;
      right: 8px;
      bottom: 8px;
      height: 36px;
      font-weight: 500;
      border-radius: 8px;
    }
  }

  .notes {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .noteItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      font-size: 18px;
      background: white;
      color: $grey-700;
      box-shadow: 4px 8px 20px 0px #1f192e0d;
      border-left: 2px solid $blue-600;

      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;

      &:first-of-type {
        margin-top: 14px;
      }

      p {
        max-width: 345px;
      }

      svg {
        width: 18px;
        height: 18px;
        cursor: pointer;

        path {
          fill: $grey-700;
          transition: fill 0.2s ease;
        }

        &:hover {
          path {
            fill: $red;
          }
        }
      }
    }
  }

  .divider {
    @include divider;
  }
}
