@import '../../styles/variables';

.panel {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 428px;
  height: 500px;
  background: $grey-50;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 0;
  overflow-y: auto;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    min-width: 3px;
    width: 4px;
    height: 8px;
    border-radius: 3px;
  }

  &::-webkit-scrollbar-track {
    background: none;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background: $grey-600;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: $grey-700;
    border-radius: 4px;
    width: 6px;
    cursor: pointer;
  }

  .address {
    font-size: 18px;
    font-weight: 600;
    line-height: 19.5px;
    color: $grey-600;
    margin-bottom: 5px;
    margin-top: 8px;
  }

  .commune {
    font-size: 13px;
    font-weight: 400;
    line-height: 19.5px;
    color: $grey-600;
    margin-bottom: 20px;

    span {
      font-size: 13px;
      font-weight: 600;
      line-height: 19.5px;
      color: $grey-700;
    }
  }
}

.panelLoading {
  @extend .panel;
  height: 500px;
}
