@import '../../styles/mixins';

.buildingButton {
  @include button-mapbox;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2.5px 10px;
  font-size: 18px !important;
  position: absolute;
  top: 10px;
  left: 10px;

  svg {
    padding: 0.9px;
  }
}
