@import '../../styles/mixins';

.openButton {
  @include button-mapbox;
  position: absolute;
  top: 10px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2.5px 10px;
  font-size: 18px;
}

.panel {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 320px;
  background: $white;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;
  background: #f9fafb;
  padding: 16px;

  .heading {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;
    color: #344054;

    h2 {
      font-size: 18px;
      font-weight: 500;
      margin-right: auto;
      cursor: default;
    }

    .crossIcon {
      width: 20px;
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  h3 {
    font-size: 18px;
    margin-bottom: 16px;
    cursor: default;
    color: #344054;
  }

  ul {
    display: flex;
    justify-content: flex-start;

    li {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      img {
        width: 50px;
        margin-bottom: 6px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: box-shadow ease 0.3s;
        border-radius: 3px;
        box-sizing: border-box;
      }

      span {
        font-size: 14px;
      }

      &:hover {
        img {
          box-shadow: #3b82f6 0px 2px 7px;
        }
      }

      &.active {
        img {
          box-shadow: #3b82f6 0px 2px 5px;
        }
      }
    }
  }
}
