@import "../../styles/mixins";

.openButton {
  @include button-primary;
  position: absolute;
  top: 10px;
  right: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2.5px 10px;
}

.panel {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 300px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1;

  .heading {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 16px;

    h2 {
      font-size: 16px;
      font-weight: 500;
      margin-right: auto;
      cursor: default;
    }

    .crossIcon {
      border-radius: 2px;
      cursor: pointer;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  h3 {
    font-size: 18px;
    margin-bottom: 16px;
    cursor: default;
  }

  ul {
    display: flex;
    justify-content: flex-start;

    li {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      cursor: pointer;

      img {
        width: 50px;
        margin-bottom: 6px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: box-shadow ease 0.3s;
        border-radius: 3px;
        box-sizing: border-box;
      }

      span {
        font-size: 14px;
      }

      &:hover {
        img {
          box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 10px;
        }
      }

      &.active {
        img {
          box-shadow: #7da7d8 0px 3px 12px;
        }
      }
    }
  }
}
