.picker {
  position: relative;

  .swatch {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    background: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }

  .popover {
    position: absolute;
    bottom: calc(100% + 7px);
    left: 50%;
    translate: -50%;
    border-radius: 9px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}
