@import "../../styles/variables";
@import "../../styles/mixins";

.openBtn {
  @include button-mapbox;
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 2.5px 10px;
  font-size: 18px;
}

.filtersPopup {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 320px;
  height: 500px;
  background: $white;
  border-radius: 4px;
  background: #f9fafb;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  padding: 16px;
  z-index: 0;
  overflow-y: auto;

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    margin-bottom: 16px;

    svg {
      padding: 1px;
      width: 24px;
      height: 24px;

      path {
        fill: $grey-600;
      }

      &.closeBtn {
        cursor: pointer;
      }
    }

    h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 30px;
      color: $grey-700;
      margin-right: auto;
    }
  }

  h3 {
    @include section-title;
    margin: 10px 0 0 0;
    font-size: 16px;
  }

  input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #d8d6de;
    transition: ease 0.15s all;

    &:hover {
      border-color: #b3b3b3;
    }

    &:focus {
      border: 1px solid $blue-600;
    }
  }

  .type {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding: 8px 0 6px;
  }

  .canton {
    margin-bottom: 10px;
    cursor: pointer;
  }

  .requestSubmittedOn {
    display: flex;

    .calendarInputWrapper {
      &:hover {
        .calendarIcon {
          path {
            fill: #999999;
          }
        }
      }

      &:focus-within svg path {
        fill: #333333 !important;
      }

      .calendarIcon {
        padding: 10px;
        width: 18px;
        height: 18px;
        cursor: pointer;

        path {
          fill: #cccccc;
          transition: ease 0.15s all;
        }
      }

      input {
        width: 100%;
        padding: 10px;
        padding-left: 35px;
      }
    }

    .requestStart,
    .requestEnd {
      border-radius: 6px;
      border: 1px solid #d8d6de;
    }

    .requestStart {
      left: 30%;
    }

    .requestEnd {
      right: 30%;
    }
  }

  .plotSurface {
    display: flex;
    justify-content: space-between;
  }
}
