@import "../../../../styles/variables";

.list {
  display: flex;
  justify-content: flex-start;
  gap: 7px;
  margin: 10px 0 -3px;

  svg {
    cursor: pointer;

    path {
      fill: $grey-700;
      // stroke: $grey-700;
    }
  }

  .ppe {
    line-height: 26px;
    font-weight: 500;
    border-radius: 4px;
    font-size: 17px;
    color: $grey-700;
    cursor: pointer;
  }
}
